flows5.json
[{"id":"9dbf85b3.57c068","type":"tab","label":"流程5","disabled":false,"info":""},{"id":"4cc6ec65.61d454","type":"http in","z":"9dbf85b3.57c068","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":120,"y":180,"wires":[["e1d1da5.32fbe28","166cf39c.0c057c"]]},{"id":"e1d1da5.32fbe28","type":"function","z":"9dbf85b3.57c068","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["baabfa2d.5a9958"]]},{"id":"baabfa2d.5a9958","type":"rpi-gpio out","z":"9dbf85b3.57c068","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":480,"y":360,"wires":[]},{"id":"166cf39c.0c057c","type":"function","z":"9dbf85b3.57c068","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["69e37eaa.4bca4","f41c49c2.e33e68"]]},{"id":"69e37eaa.4bca4","type":"http response","z":"9dbf85b3.57c068","name":"","statusCode":"","headers":{},"x":650,"y":80,"wires":[]},{"id":"f41c49c2.e33e68","type":"debug","z":"9dbf85b3.57c068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":180,"wires":[]},{"id":"ead4b2ae.b21cd","type":"http in","z":"9dbf85b3.57c068","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":460,"wires":[["88d4276d.2be1c8","906ff017.d6646"]]},{"id":"88d4276d.2be1c8","type":"function","z":"9dbf85b3.57c068","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["baabfa2d.5a9958"]]},{"id":"906ff017.d6646","type":"function","z":"9dbf85b3.57c068","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":560,"wires":[["f41c49c2.e33e68","69e37eaa.4bca4"]]}]