flows4.json
[{"id":"4e487ba9.a75864","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"80ba46e2.d73408","type":"http in","z":"4e487ba9.a75864","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":200,"y":160,"wires":[["7a8364d7.ef3c5c"]]},{"id":"77254a01.68e2f4","type":"rpi-gpio in","z":"4e487ba9.a75864","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":260,"y":300,"wires":[["b88c6a46.a7fce8"]]},{"id":"b88c6a46.a7fce8","type":"function","z":"4e487ba9.a75864","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["8aee3a3c.62b688"]]},{"id":"7a8364d7.ef3c5c","type":"function","z":"4e487ba9.a75864","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["e3f5b351.41ea1","8aee3a3c.62b688"]]},{"id":"e3f5b351.41ea1","type":"http response","z":"4e487ba9.a75864","name":"","statusCode":"","headers":{},"x":670,"y":100,"wires":[]},{"id":"8aee3a3c.62b688","type":"debug","z":"4e487ba9.a75864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":280,"wires":[]}]