flows.json
[{"id":"26163c3.192e6c4","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"603c1653.d02d88","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"9896a5f2.54dd78","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"2dbbd3b7.f6b23c","type":"rpi-gpio in","z":"26163c3.192e6c4","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":80,"wires":[["79fef6bf.db95b8","d955068d.91caa8"]]},{"id":"1a9ee9f8.ed5466","type":"rpi-gpio out","z":"26163c3.192e6c4","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":750,"y":180,"wires":[]},{"id":"79fef6bf.db95b8","type":"debug","z":"26163c3.192e6c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":80,"wires":[]},{"id":"d955068d.91caa8","type":"switch","z":"26163c3.192e6c4","name":"If input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":160,"wires":[["b2590f8d.f759c"],["3621f20d.816b2e"]]},{"id":"b2590f8d.f759c","type":"change","z":"26163c3.192e6c4","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":200,"wires":[["1a9ee9f8.ed5466"]]},{"id":"3621f20d.816b2e","type":"change","z":"26163c3.192e6c4","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":280,"wires":[["1a9ee9f8.ed5466"]]},{"id":"b395e503.9df9e8","type":"inject","z":"603c1653.d02d88","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":100,"wires":[["7bda8068.a5cd4"]]},{"id":"7bda8068.a5cd4","type":"function","z":"603c1653.d02d88","name":"Payload","func":"msg.headers={\n    deviceKey:\"Q08KODXwSOXJ0l0a\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["16bfa443.b707fc"]]},{"id":"16bfa443.b707fc","type":"http request","z":"603c1653.d02d88","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DA6E8GHm/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":140,"wires":[["fdd81d81.c56a1","7cc2c3dc.09c1ec"]]},{"id":"fdd81d81.c56a1","type":"http response","z":"603c1653.d02d88","name":"","statusCode":"","headers":{},"x":810,"y":120,"wires":[]},{"id":"7cc2c3dc.09c1ec","type":"debug","z":"603c1653.d02d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":300,"wires":[]},{"id":"25740f9c.95ac6","type":"inject","z":"9896a5f2.54dd78","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":140,"wires":[["a1fda6ab.d61248"]]},{"id":"a1fda6ab.d61248","type":"function","z":"9896a5f2.54dd78","name":"Payload","func":"msg.headers={\n    deviceKey:\"Q08KODXwSOXJ0l0a\"\n    };\n    \nmsg.payload=\"Temperature,,25.3\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["4e45f001.fcb24"]]},{"id":"4e45f001.fcb24","type":"http request","z":"9896a5f2.54dd78","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DA6E8GHm/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":200,"wires":[["154c3f51.7249b1","e846649e.319fa8"]]},{"id":"154c3f51.7249b1","type":"http response","z":"9896a5f2.54dd78","name":"","statusCode":"","headers":{},"x":880,"y":260,"wires":[]},{"id":"e846649e.319fa8","type":"debug","z":"9896a5f2.54dd78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":380,"wires":[]}]